.btn {
    background-color: $mainBlue;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        font-size: 1.0rem;
        font-weight: 400;
        padding: 0.8rem 1.1rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}